/*
  SDK topbar — hide controls not needed in this integration.
  https://docs.beefree.io/beefree-sdk/other-customizations/appearance/custom-css/css-changes
 */

body.bee--cs .topbar-structure-button--cs {
  display: none !important;
}

body.bee--cs .topbar-actions--cs [role='menu'] .dropdown-menu-item--cs:nth-child(2),
body.bee--cs .topbar-actions--cs [role='menu'] .dropdown-menu-item--cs:nth-child(3) {
  display: none !important;
}
